* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Manrope", sans-serif;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  font-family: "Open Sans", sans-serif;
}

nav {
  text-decoration: none;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  font-weight: bold;
  text-align: end;
}

nav li,
nav a {
  display: inline-block;
  font-size: 20px;
  padding: 7px 15px;
  color: #1f2433;
  text-decoration: none;
}

/* nav li:hover {
  background-color: #1f2433;
}

nav a:hover {
  color: #c4c6d8;
} */

main {
  height: 100vh;
  text-align: center;
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-color: #576993;
}

main h1,
main h2 {
  top: 70vh;
  color: #c4c6d8;
}

main h1 {
  font-size: 64px;
  font-weight: bold;
  color: white;
}

#about-me {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #a494ac;
}

#about-me h2 {
  margin: auto;
  float: left;
  color: #1f2433;
}

#about-me p {
  display: inline-block;
  max-width: 750px;
  min-width: 250px;
  width: 60%;
  clear: both;
  color: #1f2433;
}

#about-me a {
  color: #5c5c74;
  text-decoration: none;
}

footer {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  background: slategrey;
  color: #1f2433;
}

footer li,
footer a {
  font-size: 24px;
  margin: 0 5px;
  padding-top: 5px;
  text-decoration: none;
  color: #aaaaaa;
  display: inline-block;
}

footer p {
  padding-top: 20px;
  padding-bottom: 10px;
  color: black;
}
